@yellow: #FECB00;
@pink: #FD9A98;
@blue: #689BFF;
@green: #1FCA21;
@red: #F68598;
@grey: #EEEEEE;
@royalblue: #1913A2;

* {
	margin: 0px;
	padding: 0px;
}

div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

div.container {
	background: @grey;
	min-height: 900px;
	margin: 15px auto;
	width: 1352px;
}

div.element, div.placeholder, div.placeholder-mini-v, div.placeholder-mini-h2,
div.placeholder-mini-h {
	text-align: center;
	display: inline-block;
	vertical-align: top;
}

div.placeholder {
	height: 75px;
	width: 70px;
	background: orange;
}

div.placeholder-mini-v {
	height: 75px;
	width: 20px;
	background: pink;
}

div.placeholder-mini-h {
	width: 70px;
	height: 15px;
	background: orange;
}

div.placeholder-mini-h2 {
	width: 20px;
	height: 15px;
	background: pink;
}

div.element {
	height: 75px;
	width: 70px;
	padding: 4px;
	border: 1px solid black;
	margin-bottom: 5px;
}

h3 {
	color: @royalblue;
}

.blue {
	background: @blue;
}

.pink {
	background: @pink;
}

.yellow {
	background: @yellow;
}

.green {
	background: @green;
}